@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@media only screen and (max-width: 768px) {
  body {
    height: auto;  
  }
  nav {
    height: fit-content;  
  }
  .landing-container, p {
    width: 100%;  
  }
	.cloud, .meditation, #day-night-mode {
    width: 50%;  
  }
  .cloud h1 {
    font-size: 28px; 
  }
}

@media only screen and (max-width: 480px) {
  .cloud {
    width: 120px;
    height: 120px;
  }
  #breathing-container {
    width: 80%;
  }
  .landing-container {
    margin: 50px auto;
  }
}


* {
	box-sizing: border-box;
}

:root {
	--timing: 8s;
	--primary-color: rgba(49, 126, 227, 0.489);
	--secondary-color: rgba(220, 152, 225, 0.469);
	--large: 300px;
	--small: 30px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 200px + 1rem;
  min-height: 100vh;
  background: linear-gradient(to right, hsla(238, 100%, 71%, 1), hsla(295, 100%, 84%, 1)); 
  color: #f8f4f4;
  font-family: sans-serif;
  margin: 0;
  transition: background-color 0.5s ease;
}

.night-mode {
  background-color: #11001c;
  color: #0b0b0b;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  position: fixed;
  padding: 1rem 2rem;
  background: rgb(30, 2, 66);
  box-shadow: 0 5px 10px -5px rgba(236, 244, 12, 0.85);
}

.logo {
  flex: 0 0 auto; 
}

.logo img {
  height: 200px; 
  width: auto; 
}

#day-night-mode{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 900;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  filter: drop-shadow(20px 20px 10px rgba(18, 17, 18, 0.354));
  color: #201c2cdf;
  background: hsla(39, 100%, 71%, 1);
  background: linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFCB6B", endColorstr="#3D8BFF", GradientType=1);
}

.meditation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: drop-shadow(20px 20px 10px rgba(18, 17, 18, 0.354));
  color: #201c2cdf;
  background: rgb(237, 225, 4);
  background: linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFCB6B", endColorstr="#3D8BFF", GradientType=1);
}


@media only screen and (max-width: 768px) {
  .meditation {
    display: block; 
    width: 100%; 
    height: auto; 
    margin-top: 1rem; 
  }
  
  #day-night-mode {
    order: 2; 
  }
}

.main-content {
  margin-top: calc(200px + 1rem); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
  padding: 75px 50px;
}

#breathing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70%; 
  position: relative;
}

#focused-breathing {
  background-color: var(--primary-color);
  width: var(--small);
  height: var(--small);
  border-radius: 50%;
  animation: breath 8s ease infinite none running;
}

@keyframes breath {
  25%, 50% {
    background-color: var(--secondary-color);
    width: var(--large);
    height: var(--large);
    border-radius: 50%;
  }
}

#exit-breathing-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #683ae668;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 40px;
  
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  margin: 150px auto;
  padding: 15px 30px; 
  font-size: 16px; 
  cursor: pointer;
  border: none;
  border-radius: 5px; 
  border: 2px solid #e8e354; 
  color: #ffffff;
  background-color: transparent;
  transition: all 0.2s ease;
  text-align: center; 
	height: 7%;
  width: 15%;
  position: fixed;
  margin: 0 auto;
  bottom: 10px; 
  left: 10px;
}

#exit-breathing-button:hover {
  background-color: #646cff; 
  border-color: #fff264;
}

.landing-container, .quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(200px + 1rem); 
  min-height: calc(100vh - 200px);  /* Keep min-height for flexibility */
  margin: 0 auto; 
  flex: 1;
}

#thich-quote, #quote {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 510px;  
  display: flex;
  font-size: 20px;  
  padding: 60px;
  word-spacing: 5px;
  letter-spacing: 2px;
  line-height: 2;
  overflow-wrap: break-word;
  font-family: "Walter Turncoat", cursive;
  filter: drop-shadow(20px 20px 10px rgba(66, 60, 235, 0.686));
  scrollbar-color: rgba(23, 6, 29, 0.062) #656cee66;
  scrollbar-width: thin;
  box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
  border-radius: 10px;
  border: #656beec5 solid 10px;
}

#support-button, #next, #other, #home {
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #e8e354; 
  color: #ffffff;
  background-color: transparent;
  width: auto;  /* No need for fixed width here */
  flex: 1;
  gap: 10px;
}

#support-button:hover {
  background-image: linear-gradient(to right, #ff9f9f, #8b69c4); 
}

.choice-container {
  position: relative; 
  width: 60%;
  height: 300px; 
  padding-top: calc(var(200px) + 20px); 
  margin: 0 auto;
}

.choice-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(to right, transparent 0%, #432199 100%); 
}

#comparison, #impostor-syndrome, #acceptance, #self-love {
  position: absolute; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;  
  font-weight: 900;
  font-family: Arial, sans-serif; 
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  background: transparent;
  border: 2px solid #e8e354; 
  color: #ffffff;
  
  &:hover {
    background-color: #54e8d281; 
    color: #000000;  
  }
}
#comparison {
  top: 20%; 
  left: 20%;
}

#impostor-syndrome {
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);  
}

#acceptance {
  top: 64%; 
  left: 83%;
}

#self-love {
  top: 50%; 
  right: 20%;
}

#next:hover, #other:hover, #home:hover {
  background-color: #e8f0ff; 
}
