@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
body {
	display: flex;
	flex-direction: column;
	background-color: #aeb8fe;
  color: black;
	margin: 0;
}
body.night-mode {
  background-color: #310bf07e;
  color: whitesmoke;
}
@media screen and (min-width:480px) {
	.column {
		width: 100%;
    max-width: 500px;
		display: table-cell;
		padding: .5em;
	}
}
nav {
	display: flex;
	/* flex-direction: column; */
  justify-content: space-around;
  gap: 30px;
  position: relative;
  height: 150px;
  padding: 15px;
	/* justify-content: space-between; */
	align-items: center;
	/* align-content: flex-start; */
	/* gap: 30px; */
  box-shadow: 5px 3px 10px rgba(128, 128, 128, 0.488);
}
.cloud {
	border-radius: 50%;
	position: absolute; 
	top: 30%;
	left: 0%;
	margin-top: -5px;
	margin-left: 100px;
	background: #93b4e5d8;
	height: 200px;
	width: 200px;
	box-shadow: #93b4e5d8 -95px -35px 0 -5px, #93b4e5d8 25px -45px, #93b4e5d8 30px 40px, #93b4e5d8 -80px 45px 0 -10px, #93b4e5d8 105px 5px 0 -5px;
  filter: drop-shadow(20px 20px 10px rgba(18, 17, 18, 0.354));
}
h1 {
	font-family: "Cedarville Cursive", cursive;
	font-weight: 400;
  font-size: 25px;
	font-style: oblique;
  margin-top: 50px;
  margin-left: -60px;
  color: #08160ec9;
}
#day-night-mode {
  position: absolute;
  width: 5em;
  height: auto;
	cursor: pointer;
	border-radius: 1000px;
  align-items: center;
  filter: drop-shadow(20px 20px 10px rgba(18, 17, 18, 0.354));
	color: #201c2cdf;
	background: hsla(39, 100%, 71%, 1);
	background: linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
	background: -moz-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
	background: -webkit-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFCB6B", endColorstr="#3D8BFF", GradientType=1);
}
.meditation {
  position: absolute;
  right: 16px;
  font-size: 18px;
	margin: 10px 10px 10px 10px;
  filter: drop-shadow(20px 20px 10px rgba(18, 17, 18, 0.354));
  border-radius: 20px;
  width: 255px;
  height: auto;
}
.landing-container {
  display: flex;
	flex-direction: column;
  align-items: center;
  margin-top: 16px;
} 

p {
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.447);
  font-size: 20px;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
}
#support-button {
  width: 30em;
  height: 2em;
	cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.447);
  border-radius: 20px;
}
.support-options-section {
  width: 50%;
  background-color: green;
  align-self: center;
}
.choice-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: center;
  margin: 15px;
  /* background-color: #ff01bb; */
}
button {
  width: 10em;
  height: 10em;
	cursor: pointer;
	border-radius: 1000px;
  filter: drop-shadow(20px 20px 10px rgba(18, 17, 18, 0.354));
	color: #201c2cae;
}
.quote-container {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 15px;;
  background-color: aquamarine;
}
#next, #other, #home {
  width: 30em;
  height: 2em;
	cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.447);
  border-radius: 20px;
}
#sources-well {
  /* background-color: rgb(248, 13, 13); */
  position: relative;
  align-self: center;
  justify-content: center;
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 3px solid #322e3216;
}
.pentagon{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 180px;
  border-top: 180px solid rgba(0, 66, 128, 0.457);
  border-left: 90px solid transparent;
  border-right: 90px solid transparent; 
  filter: drop-shadow(20px 20px 10px rgba(18, 17, 18, 0.354));
}

.pentagon:after{
  position: absolute;
  content: '';
  border-bottom: 180px solid rgba(0, 66, 128, 0.457);
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
  bottom: 180px;
  left: -90px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h3 {
  text-align: center;
}
.wisdom-source {
  text-align: center;
  color:#310bf0
}

